body {
    font-family: 'Ariel', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto 0 auto;
    
}


header {
    background: #ebebeb;
    margin: 10px 0px 10px 0px;
    padding: 30px;
}

nav {
    background: #ebebeb;
    margin: 10px 0px 10px 0px;
    padding: 30px;
}

section {
    background: #ebebeb;
    position: absolute;
    width: 495px;
    height: 260px;
}

aside {
    float: right;
    background: #ebebeb;
    width: 455px;
    height: 260px;
}

article {
    color: #ebebeb;
    position: relative;
    background: #777;
    width: 475px;
    height: 190px;
    top: 60px;
    left: 10px;
}

footer {
    background: #ebebeb;
    padding: 30px;
    margin: 20px 0px 20px 0px;
}


h1, p {
    position: relative;
    color: #777;
    background: #ebebeb;
    width: 455px;
    height: 50px;
    top: -100px;
    left: 20px;
}

